<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Require4Testing</a>
        <div class="navbar-nav">
            <a class="nav-link" href="/requirements">Anforderungen</a>
            <a class="nav-link" href="/testcases">Testfälle</a>
            <a class="nav-link" href="/testruns">Testläufe</a>
        </div>
    </div>
</nav>
</body>
</html>
